[submodule "hugo-xmin"]
	path = hugo-xmin
	url = https://github.com/yihui/hugo-xmin
[submodule "hugo-theme-stack"]
	path = hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack
[submodule "themes/hugo-flex"]
	path = themes/hugo-flex
	url = https://github.com/de-souza/hugo-flex.git
[submodule "themes/papermodx"]
	path = themes/papermodx
	url = https://github.com/reorx/papermodx-example
